<!DOCTYPE html>
<html ng-app="blog">
<head>
  <title>Proiect AWJ</title>
  <link rel="stylesheet" media="all" href="css/bootstrap.min.css">
  <link rel="stylesheet" media="all" href="css/custom.css">
</head>
<body>
  <div class="container">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="">AWJ Base Project</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="#authorId">Author</a></li>
            <li><a href="#bookId">Book</a></li>
            <li><a href="#teamId">Team</a></li>
            <li><a href="#playerId">Player</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>

  <hr/>

  <div class="container">
    <div ng-controller="HomeController">
      <h1>{{ helloWorld }}</h1>
      <p>Beta Version</p>
    </div>
  </div>

  <hr/>

  <!-- /author -->
  <div class="container" id="authorId" ng-controller = "AutorController">
    <h1>Author</h1>
    <h2>List all authors</h2>
    <table class="table table-bordered">
      <tr>
          <th ng-repeat = "key in keys">{{ key }}</th>
          <th style="width:210px;">Options</th>
      </tr>
      <tr ng-repeat="item in autori.data" data-id="{{ item.id }}">
          <td>{{ item.id }}</td>
          <td>{{ item.nume}}</td>
          <td>{{ item.prenume}}</td>
          <td>
            <a href="">
              <button type="button" class="btn btn-success btn-xs" data-toggle="modal" data-target="#myAuthorModal" ng-click = "setReadAutor(item)">
                Open
                <span class="glyphicon glyphicon-folder-open"></span>
              </span>
            </a>
            <button ng-click="setUpdateAutor(item)" class="btn btn-info btn-xs">
                Edit
                <span class="glyphicon glyphicon-edit"></span>
            </a>
            <button ng-click="deleteAutor(item.id)" class="btn btn-danger btn-xs">
                Remove
                <span class="glyphicon glyphicon-remove"></span>
              </button>
            </a>
          </td>
      <tr>
    </table>

    <!--modal-->
    <div class="modal fade" id="myAuthorModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Author</h4>
          </div>
          <div class="modal-body">
           <div class="form-group">
              <label for="attribute1">Id</label>
              <input type="text" class="form-control" ng-value="readAutor.id" ng-readonly="true">
            </div>
            <div class="form-group">
              <label for="attribute2">Nume</label>
              <input type="text" class="form-control"  ng-readonly="true" ng-value="readAutor.nume">
            </div>
            <div class="form-group">
              <label for="attribute3">Prenume</label>
              <input type="text" class="form-control" ng-value="readAutor.prenume" ng-readonly="true"> 
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

    <div class="row">
      <div class="col-md-3">
        <h2>Edit an author</h2>
        <form >
          <div class="form-group">
            <label for="attribute1">Id</label>
            <input type="text" class="form-control" ng-model="editAutor.id" ng-readonly="true">
          </div>
          <div class="form-group">
            <label for="attribute2">Nume</label>
            <input type="text" class="form-control" ng-model="editAutor.nume">
          </div>
          <div class="form-group">
            <label for="attribute3">Prenume</label>
            <input type="text" class="form-control" ng-model="editAutor.prenume">
          </div>
          <button type="submit" class="btn btn-info" ng-click="updateAutor()">Save</button>
        </form>
      </div>

      <div class="col-md-3 col-md-offset-6">
        <h2>Add an author</h2>
        <form>
          <div class="form-group">
            <label for="attribute1">Id</label>
            <input type="text" class="form-control" id="attribute1" placeholder="Id" ng-model="autor.id">
          </div>
          <div class="form-group">
            <label for="attribute2">Nume</label>
            <input type="text" class="form-control" id="attribute2" placeholder="Nume" ng-model="autor.nume">
          </div>
          <div class="form-group">
            <label for="attribute3">Prenume</label>
            <input type="text" class="form-control" id="attribute3" placeholder="Prenume" ng-model="autor.prenume">
          </div>
          <button ng-click="addAutor(autor)" class="btn btn-success">Add</button>
        </form>
      </div>
    </div>
  </div>

  <hr/>

  <!-- /books-->
  <div class="container" id="bookId" ng-controller = "BookController">
    <h1>Book</h1>
    <h2>List all books</h2>
    <table class="table table-bordered">
      <tr>
          <th ng-repeat = "key in keys">{{ key }}</th>
          <th style="width:210px;">Options</th>
      </tr>
     <tr ng-repeat="item in books.data" data-id="{{ item.id }}">
          <td>{{ item.id }}</td>
          <td>{{ item.titlu}}</td>
          <td>{{ item.editura}}</td>
          <td>
            <a href="">
              <button type="button" class="btn btn-success btn-xs" data-toggle="modal" data-target="#myBookModal" ng-click = "setReadBook(item)">
                Open
                <span class="glyphicon glyphicon-folder-open"></span>
              </span>
            </a>
            <button ng-click="setUpdateBook(item)" class="btn btn-info btn-xs">
                Edit
                <span class="glyphicon glyphicon-edit"></span>
            </a>
            <button ng-click="deleteBook(item.id)" class="btn btn-danger btn-xs">
                Remove
                <span class="glyphicon glyphicon-remove"></span>
              </button>
            </a>
          </td>
      <tr>
    </table>

     <!--modal-->
    <div class="modal fade" id="myBookModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Author</h4>
          </div>
          <div class="modal-body">
           <div class="form-group">
              <label for="attribute1">Id</label>
              <input type="text" class="form-control" ng-value="readBook.id" ng-readonly="true" >
            </div>
            <div class="form-group">
              <label for="attribute2">Titlu</label>
              <input type="text" class="form-control"  ng-readonly="true" ng-value="readBook.titlu">
            </div>
            <div class="form-group">
              <label for="attribute3">Editura</label>
              <input type="text" class="form-control" ng-value="readBook.editura" ng-readonly="true"> 
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

    <div class="row">
      <div class="col-md-3">
        <h2>Edit a book</h2>
        <form >
          <div class="form-group">
            <label for="attribute1">Id</label>
            <input type="text" class="form-control" ng-model="editBook.id" ng-readonly="true">
          </div>
          <div class="form-group">
            <label for="attribute2">Nume</label>
            <input type="text" class="form-control" ng-model="editBook.titlu">
          </div>
          <div class="form-group">
            <label for="attribute3">Prenume</label>
            <input type="text" class="form-control" ng-model="editBook.editura">
          </div>
          <button type="submit" class="btn btn-info" ng-click="updateBook()">Save</button>
        </form>
      </div>

      <div class="col-md-3 col-md-offset-6">
        <h2>Add a book</h2>
        <form>
          <div class="form-group">
            <label for="attribute1">Id</label>
            <input type="text" class="form-control" id="attribute1" placeholder="Id" ng-model="book.id">
          </div>
          <div class="form-group">
            <label for="attribute2">Titlu</label>
            <input type="text" class="form-control" id="attribute2" placeholder="Nume" ng-model="book.titlu">
          </div>
          <div class="form-group">
            <label for="attribute3">Editura</label>
            <input type="text" class="form-control" id="attribute3" placeholder="Prenume" ng-model="book.editura">
          </div>
          <button ng-click="addBook(book)" class="btn btn-success">Add</button>
        </form>
      </div>
    </div>
  </div>

  <hr/>
    
    
  <!-- /players-->
 <div class="container" id="playerId" ng-controller = "PlayerController">
    <h1>Player</h1>
    <h2>List all players</h2>
    <table class="table table-bordered">
      <tr>
          <th ng-repeat = "key in keys">{{ key }}</th>
          <th style="width:210px;">Options</th>
      </tr>
      <tr ng-repeat="item in players.data" data-id="{{ item.id }}">
          <td>{{ item.id }}</td>
          <td>{{ item.name}}</td>
          <td>{{ item.age}}</td>
          <td>
            <a href="">
              <button type="button" class="btn btn-success btn-xs" data-toggle="modal" data-target="#myPlayerModal" ng-click = "setReadPlayer(item)">
                Open
                <span class="glyphicon glyphicon-folder-open"></span>
              </span>
            </a>
            <button ng-click="setUpdatePlayer(item)" class="btn btn-info btn-xs">
                Edit
                <span class="glyphicon glyphicon-edit"></span>
            </a>
            <button ng-click="deletePlayer(item.id)" class="btn btn-danger btn-xs">
                Remove
                <span class="glyphicon glyphicon-remove"></span>
              </button>
            </a>
          </td>
      <tr>
    </table>

    <!--modal-->
    <div class="modal fade" id="myPlayerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Author</h4>
          </div>
          <div class="modal-body">
           <div class="form-group">
              <label for="attribute1">Id</label>
              <input type="text" class="form-control" ng-value="readPlayer.id" ng-readonly="true">
            </div>
            <div class="form-group">
              <label for="attribute2">Nume</label>
              <input type="text" class="form-control"  ng-readonly="true" ng-value="readPlayer.name">
            </div>
            <div class="form-group">
              <label for="attribute3">Varsta</label>
              <input type="text" class="form-control" ng-value="readPlayer.age" ng-readonly="true">  
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

    <div class="row">
      <div class="col-md-3">
        <h2>Edit a player</h2>
        <form >
          <div class="form-group">
            <label for="attribute1">Id</label>
            <input type="text" class="form-control" ng-model="editPlayer.id" ng-readonly="true">
          </div>
          <div class="form-group">
            <label for="attribute2">Name</label>
            <input type="text" class="form-control" ng-model="editPlayer.name">
          </div>
          <div class="form-group">
            <label for="attribute3">Age</label>
            <input type="text" class="form-control" ng-model="editPlayer.age">
          </div>
          <button type="submit" class="btn btn-info" ng-click="updatePlayer()">Save</button>
        </form>
      </div>

      <div class="col-md-3 col-md-offset-6">
        <h2>Add a player</h2>
        <form>
          <div class="form-group">
            <label for="attribute1">Id</label>
            <input type="text" class="form-control" id="attribute1" placeholder="Id" ng-model="player.id">
          </div>
          <div class="form-group">
            <label for="attribute2">Name</label>
            <input type="text" class="form-control" id="attribute2" placeholder="Nume" ng-model="player.name">
          </div>
          <div class="form-group">
            <label for="attribute3">Age</label>
            <input type="text" class="form-control" id="attribute3" placeholder="Varsta" ng-model="player.age">
          </div>
          <button ng-click="addPlayer(player)" class="btn btn-success">Add</button>
        </form>
      </div>
    </div>
  </div>

  <hr/>

  <!-- /Team-->
 <div class="container" id="teamId" ng-controller = "TeamController">
    <h1>Team</h1>
    <h2>List all teams</h2>
    <table class="table table-bordered">
      <tr>
          <td>Id</td>
          <td>Name</td>
          <td>League</td>
          <th style="width:210px;">Options</th>
      </tr>
     <tr ng-repeat="item in teams.data" data-id="{{ item.id }}">
          <td>{{ item.id }}</td>
          <td>{{ item.name}}</td>
          <td>{{ item.league}}</td>
          <td>
            <a href="">
              <button type="button" class="btn btn-success btn-xs" ng-click = "setReadTeam(item)">
                Open
                <span class="glyphicon glyphicon-folder-open"></span>
              </span>
            </a>
            <button ng-click="setUpdateTeam(item)" class="btn btn-info btn-xs">
                Edit
                <span class="glyphicon glyphicon-edit"></span>
            </a>
            <button ng-click="deleteTeam(item.id)" class="btn btn-danger btn-xs">
                Remove
                <span class="glyphicon glyphicon-remove"></span>
              </button>
            </a>
          </td>
      <tr>
    </table>


    <div class="row">
      <div class="col-md-3">
        <h2>Edit a team</h2>
        <form >
          <div class="form-group">
            <label for="attribute1">Id</label>
            <input type="text" class="form-control" ng-model="editTeam.id" ng-readonly="true">
          </div>
          <div class="form-group">
            <label for="attribute2">Name</label>
            <input type="text" class="form-control" ng-model="editTeam.name">
          </div>
          <div class="form-group">
            <label for="attribute3">League</label>
            <input type="text" class="form-control" ng-model="editTeam.league">
          </div>
          <button type="submit" class="btn btn-info" ng-click="updateTeam()">Save</button>
        </form>
      </div>

      <div class="col-md-3 col-md-offset-6">
        <h2>Add a team</h2>
        <form>
          <div class="form-group">
            <label for="attribute1">Id</label>
            <input type="text" class="form-control" id="attribute1" placeholder="Id" ng-model="team.id">
          </div>
          <div class="form-group">
            <label for="attribute2">Name</label>
            <input type="text" class="form-control" id="attribute2" placeholder="Nume" ng-model="team.name">
          </div>
          <div class="form-group">
            <label for="attribute3">League</label>
            <input type="text" class="form-control" id="attribute3" placeholder="Prenume" ng-model="team.league">
          </div>
          <button ng-click="addTeam(team)" class="btn btn-success">Add</button>
        </form>
      </div>
  </div>

  <div ng-show="isVisible" class="row">
      <div class="col-md-12">
        <h2>Show a Team</h2>
      </div>
      <div class="col-md-10">
        <h1>{{ readTeam.name }}</h1>
        <p>{{ readTeam.league }}</p>
        <h3>Players</h3>
        <table class="table table-bordered table-striped">
          <tr>
            <!--<td ng-repeat = "key in keysPlayer">{{ key }}</td>-->
            <th>Id</th>
            <th>Nume</th>
            <th>Varsta</th>
          </tr>
          <tr ng-repeat="item in teamPlayers.data" data-id="{{ item.id }}">
            <td>{{ item.id }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.age }}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <hr/>
    
  <div class="container">
    <footer class="footer">
      <p class="text-muted pull-left">AWJ Base Project &copy; 2015-2016</p>
      <p class="text-muted pull-right">Marin Ionut 332AA</p>
    </footer>
  </div>

  <script src="js/jquery-1.11.3.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/angular.min.js"></script>
  <script src="js/app.js"></script>
</body>
</html>
